<style>
  .f-info-socials a{
    text-decoration: none;
    color:black
  }
</style>

<footer>
    <div class="f-info">
     <div class="f-info-socials">
       <a href="https://www.facebook.com/login/"><i class="fa-brands fa-square-facebook"></i></a>
       <a href="https://www.instagram.com/login">  <i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/login/"><i class="fa-brands fa-linkedin"></i></a>
        
    </div>
    <div class="f-info-brand">&copy;SafarStay Private Limited</div>
     <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="terms">Terms</a>
      </div>
    </div>
</footer>
